<!--number row-->
<div class="row justify-content-md-center">
    <app-keyboard-key key="1"></app-keyboard-key>
    <app-keyboard-key key="2"></app-keyboard-key>
    <app-keyboard-key key="3"></app-keyboard-key>
    <app-keyboard-key key="4"></app-keyboard-key>
    <app-keyboard-key key="5"></app-keyboard-key>
    <app-keyboard-key key="6"></app-keyboard-key>
    <app-keyboard-key key="7"></app-keyboard-key>
    <app-keyboard-key key="8"></app-keyboard-key>
    <app-keyboard-key key="9"></app-keyboard-key>
    <app-keyboard-key key="0"></app-keyboard-key>
    <app-keyboard-key key="-"></app-keyboard-key>
    <app-keyboard-key key="="></app-keyboard-key>
</div>
<!--first symbols row-->
<div class="row justify-content-md-center">
    <app-keyboard-key key="Й"></app-keyboard-key>
    <app-keyboard-key key="Ц"></app-keyboard-key>
    <app-keyboard-key key="У"></app-keyboard-key>
    <app-keyboard-key key="К"></app-keyboard-key>
    <app-keyboard-key key="Е"></app-keyboard-key>
    <app-keyboard-key key="Н"></app-keyboard-key>
    <app-keyboard-key key="Г"></app-keyboard-key>
    <app-keyboard-key key="Ш"></app-keyboard-key>
    <app-keyboard-key key="Щ"></app-keyboard-key>
    <app-keyboard-key key="З"></app-keyboard-key>
    <app-keyboard-key key="Х"></app-keyboard-key>
    <app-keyboard-key key="Ъ"></app-keyboard-key>
</div>
<!--second symbols row-->
<div class="row justify-content-md-center">
    <app-keyboard-key key="Ф"></app-keyboard-key>
    <app-keyboard-key key="Ы"></app-keyboard-key>
    <app-keyboard-key key="В"></app-keyboard-key>
    <app-keyboard-key key="А"></app-keyboard-key>
    <app-keyboard-key key="П"></app-keyboard-key>
    <app-keyboard-key key="Р"></app-keyboard-key>
    <app-keyboard-key key="О"></app-keyboard-key>
    <app-keyboard-key key="Л"></app-keyboard-key>
    <app-keyboard-key key="Д"></app-keyboard-key>
    <app-keyboard-key key="Ж"></app-keyboard-key>
    <app-keyboard-key key="Э"></app-keyboard-key>
    <app-keyboard-key key="/"></app-keyboard-key>
</div>
<!--third symbols row-->
<div class="row justify-content-md-center">
    <app-keyboard-key key="Я"></app-keyboard-key>
    <app-keyboard-key key="Ч"></app-keyboard-key>
    <app-keyboard-key key="С"></app-keyboard-key>
    <app-keyboard-key key="М"></app-keyboard-key>
    <app-keyboard-key key="И"></app-keyboard-key>
    <app-keyboard-key key="Т"></app-keyboard-key>
    <app-keyboard-key key="Ь"></app-keyboard-key>
    <app-keyboard-key key="Б"></app-keyboard-key>
    <app-keyboard-key key="Ю"></app-keyboard-key>
</div>
<!--special symbols row-->
<div class="row justify-content-md-center">
    <app-keyboard-key key="!"></app-keyboard-key>
    <app-keyboard-key key="@"></app-keyboard-key>
    <app-keyboard-key key="#"></app-keyboard-key>
    <app-keyboard-key key="+"></app-keyboard-key>
    <app-keyboard-key key="."></app-keyboard-key>
    <app-keyboard-key key=" "></app-keyboard-key>
    <app-keyboard-key key=","></app-keyboard-key>
    <app-keyboard-key key="$"></app-keyboard-key>
    <app-keyboard-key key="*"></app-keyboard-key>
    <app-keyboard-key key="("></app-keyboard-key>
    <app-keyboard-key key=")"></app-keyboard-key>
</div>
